# Archivos de credenciales y configuraciones sensibles
backend/controlledesp32-2afc2-firebase-adminsdk-fbsvc-126eaf9d1e.json
# Archivos de base de datos o datos locales
backend/colecciones.json
# Cachés y archivos compilados
__pycache__/
*.pyc
# Archivos de entorno
.env
# Archivos de configuración de usuario de VSCode
.vscode/
# Otros archivos temporales
*.log
# Sistema operativo
.DS_Store
Thumbs.db
# Entorno virtual de Python
backend/venv/
